In [155]:
import pandas as pd
import sqlite3
import numpy as np

pd.set_option('display.max_columns', 500)

In [62]:
conn_1 = sqlite3.connect('../data/raw/batch_1.db')
conn_2 = sqlite3.connect('../data/raw/batch_2.db')
conn_test = sqlite3.connect('../data/raw/test.db')
fuel = pd.read_parquet('../data/raw/fuel.parquet')  # Daily gas prices from 04/01/16 to 31/12/18

In [81]:
fuel.shape

(750, 2)

## Explo batch 1

In [127]:
aeroports = pd.read_sql_query("SELECT * FROM aeroports", conn_1)
aeroports.head()

,CODE IATA,NOM,LIEU,PAYS,LONGITUDE,LATITUDE,HAUTEUR,PRIX RETARD PREMIERE 20 MINUTES,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES
0,MCT,Muscat International Airport,Muscat,OM,58.284400939941406,23.593299865722656,48.0,53,3
1,SOU,Southampton Airport,Southampton,GB,-1.3567999601364136,50.95029830932617,44.0,24,5
2,PNH,Phnom Penh International Airport,Phnom Penh,KH,104.84400177001953,11.546600341796875,40.0,33,3
3,BLR,Kempegowda International Airport,Bangalore,IN,77.706299,13.1979,3000.0,70,9
4,FFD,RAF Fairford,Fairford,GB,-1.7900300025900002,51.6822013855,286.0,65,3

In [64]:
aeroports_1.shape

(321, 9)

In [65]:
compagnies_1 = pd.read_sql_query("SELECT * FROM compagnies", conn_1)
compagnies_1.head()

                    COMPAGNIE  CODE  NOMBRE D EMPLOYES  CHIFFRE D AFFAIRE
0           Try Hard Airlines   THA              12909         2310000000
1  Corporate Overlord Airways   COA             130595        40579000000
2          Neverland Airlines    NA              18567         7651000000
3    Always A Problem Flights  AAPF              92000        51000000000
4              Overpriced Air    OA              12200         6649000000

In [66]:
compagnies_1.shape

(13, 4)

In [67]:
vols_1 = pd.read_sql_query("SELECT * FROM vols", conn_1)
vols_1.head()

,IDENTIFIANT,VOL,CODE AVION,AEROPORT DEPART,AEROPORT ARRIVEE,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,...,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,COMPAGNIE AERIENNE,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE
0,1259209,4661,a02782cd75,CEB,AAL,1707,1658.0,-9.0,20.0,1718.0,...,None,NaN,NaN,NaN,NaN,NaN,MAF,379,15/8/2018,10
1,4886177,5026,707f6ea54f,GOI,LTK,600,553.0,-7.0,11.0,604.0,...,None,NaN,NaN,NaN,NaN,NaN,I6F,9,2/11/2016,10
2,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,...,None,NaN,NaN,NaN,NaN,NaN,NVPPA,2491,9/6/2017,10
3,937517,1320,a4b8db63f5,AGP,GOA,2301,2322.0,21.0,19.0,2341.0,...,None,24.0,0.0,0.0,6.0,15.0,NVPPA,1241,26/5/2018,10
4,2157498,508,34604053c0,BRU,BOD,612,603.0,-9.0,13.0,616.0,...,None,NaN,NaN,NaN,NaN,NaN,THA,78,10/11/2018,10

In [68]:
vols_1.shape

(3000000, 31)

In [70]:
prix_fuel_1 = pd.read_sql_query("SELECT * FROM prix_fuel", conn_1)
prix_fuel_1.head()

    DATE  PRIX DU BARIL
0  38.75      59.792477
1  36.76      59.792477
2  36.18      59.792477
3  34.09      59.792477
4  33.30      59.792477

In [71]:
prix_fuel_1.shape

(750, 2)

## Explo batch 2

In [73]:
aeroports_2 = pd.read_sql_query("SELECT * FROM aeroports", conn_2)
aeroports_2.head()

,CODE IATA,NOM,LIEU,PAYS,LONGITUDE,LATITUDE,HAUTEUR,PRIX RETARD PREMIERE 20 MINUTES,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES
0,MCT,Muscat International Airport,Muscat,OM,58.284400939941406,23.593299865722656,48.0,53,3
1,SOU,Southampton Airport,Southampton,GB,-1.3567999601364136,50.95029830932617,44.0,24,5
2,PNH,Phnom Penh International Airport,Phnom Penh,KH,104.84400177001953,11.546600341796875,40.0,33,3
3,BLR,Kempegowda International Airport,Bangalore,IN,77.706299,13.1979,3000.0,70,9
4,FFD,RAF Fairford,Fairford,GB,-1.7900300025900002,51.6822013855,286.0,65,3

In [74]:
aeroports_2.shape

(322, 9)

In [75]:
compagnies_2 = pd.read_sql_query("SELECT * FROM compagnies", conn_2)
compagnies_2.head()

                    COMPAGNIE  CODE  NOMBRE D EMPLOYES  CHIFFRE D AFFAIRE
0           Try Hard Airlines   THA              12909         2310000000
1  Corporate Overlord Airways   COA             130595        40579000000
2          Neverland Airlines    NA              18567         7651000000
3    Always A Problem Flights  AAPF              92000        51000000000
4              Overpriced Air    OA              12200         6649000000

In [102]:
compagnies_2.shape

(14, 4)

In [76]:
vols_2 = pd.read_sql_query("SELECT * FROM vols", conn_2)
vols_2.head()

,IDENTIFIANT,VOL,CODE AVION,AEROPORT DEPART,AEROPORT ARRIVEE,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,...,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,COMPAGNIE AERIENNE,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE
0,5030929,2711,076452584b,DXB,FNA,1559,1548.0,-11.0,17.0,1605.0,...,None,NaN,NaN,NaN,NaN,NaN,I6F,78,18/9/2016,10
1,716617,1748,f4fe63c52e,DUR,ALG,1514,1506.0,-8.0,29.0,1535.0,...,None,NaN,NaN,NaN,NaN,NaN,NVPPA,2493,2/7/2016,10
2,1617605,5414,87022173dd,SXF,DJJ,2257,2249.0,-8.0,29.0,2318.0,...,None,NaN,NaN,NaN,NaN,NaN,MAF,73,18/11/2018,10
3,920295,2417,27e3424214,AGP,DWC,1921,1919.0,-2.0,16.0,1935.0,...,None,NaN,NaN,NaN,NaN,NaN,NVPPA,1746,26/1/2017,10
4,1944704,1580,50366188a0,CTU,TIA,1632,1729.0,57.0,49.0,1818.0,...,None,19.0,0.0,35.0,22.0,0.0,THA,367,21/7/2017,10

In [77]:
vols_2.shape

(1332914, 31)

In [78]:
prix_fuel_2 = pd.read_sql_query("SELECT * FROM prix_fuel", conn_2)
prix_fuel_2.head()

    DATE  PRIX DU BARIL
0  38.75      59.792477
1  36.76      59.792477
2  36.18      59.792477
3  34.09      59.792477
4  33.30      59.792477

In [79]:
prix_fuel_2.shape

(750, 2)

## Explo tables schemas and keys

In [35]:
c_1 = conn_1.cursor()
c_1.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c_1.fetchall())

[('vols',), ('compagnies',), ('aeroports',), ('prix_fuel',)]

In [40]:
c_2 = conn_2.cursor()
c_2.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c_2.fetchall())

[('vols',), ('compagnies',), ('aeroports',), ('prix_fuel',)]

In [44]:
c_test = conn_test.cursor()
c_test.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c_test.fetchall())

[('vols',)]

## Concatenating

In [ ]:
# Vol IDENTIFIANT clé unique

In [84]:
len(vols_1['IDENTIFIANT'].unique()) + len(vols_2['IDENTIFIANT'].unique())

4332914

In [85]:
vols_all = pd.concat([vols_1, vols_2])

In [86]:
len(vols_all['IDENTIFIANT'].unique())

4332914

In [93]:
len(aeroports_1['CODE IATA'].unique())

319

In [94]:
len(aeroports_1)

321

In [95]:
len(aeroports_2['CODE IATA'].unique())

320

In [96]:
len(aeroports_2)

322

In [101]:
aeroports_1['CODE IATA'].value_counts()  # 3 occurrences de JNB regarder si même name

JNB    3
CNX    1
CAG    1
ALA    1
TXL    1
      ..
SVG    1
LUX    1
PEK    1
DME    1
BOD    1
Name: CODE IATA, Length: 319, dtype: int64

In [99]:
aeroports_1[aeroports_1['CODE IATA'] == 'JNB']

,CODE IATA,NOM,LIEU,PAYS,LONGITUDE,LATITUDE,HAUTEUR,PRIX RETARD PREMIERE 20 MINUTES,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES
238,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,14,2
274,JNB,O R Tambo International,Johannesburg,ZA,28.246,-26.1392,5558.0,30,3
307,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,94,1

In [105]:
compagnies_1

                       COMPAGNIE   CODE  NOMBRE D EMPLOYES  CHIFFRE D AFFAIRE
0              Try Hard Airlines    THA              12909         2310000000
1     Corporate Overlord Airways    COA             130595        40579000000
2             Neverland Airlines     NA              18567         7651000000
3       Always A Problem Flights   AAPF              92000        51000000000
4                 Overpriced Air     OA              12200         6649000000
5    Morally Ambiguious Fligthts    MAF              15150         6391000000
6       Fliying Is Possible Inc.   FIPI              13230         2979000000
7     Air Piloter Sans Les Mains  APSLM              13112         7651000000
8     Ne Va Pas Partout Airlines  NVPPA              12000         6235000000
9                 IE 6.0 Flights    I6F              17569         2660000000
10                   Air Penguin     AP              83503        31064000000
11                       Bel Air  SMITH              18000         3671000000
12  Better Take A Train Airlines  BTATA              15878         5056000000

In [106]:
compagnies_2 # à utiliser

                       COMPAGNIE   CODE  NOMBRE D EMPLOYES  CHIFFRE D AFFAIRE
0              Try Hard Airlines    THA              12909         2310000000
1     Corporate Overlord Airways    COA             130595        40579000000
2             Neverland Airlines     NA              18567         7651000000
3       Always A Problem Flights   AAPF              92000        51000000000
4                 Overpriced Air     OA              12200         6649000000
5    Morally Ambiguious Fligthts    MAF              15150         6391000000
6       Fliying Is Possible Inc.   FIPI              13230         2979000000
7     Air Piloter Sans Les Mains  APSLM              13112         7651000000
8   We Komen er Uiteindelijk Wel  WKEUW              30672        51000000000
9     Ne Va Pas Partout Airlines  NVPPA              12000         6235000000
10                IE 6.0 Flights    I6F              17569         2660000000
11                   Air Penguin     AP              83503        31064000000
12                       Bel Air  SMITH              18000         3671000000
13  Better Take A Train Airlines  BTATA              15878         5056000000

In [ ]:
# Utiliser tous les vols (pas de duplicates)
# Utiliser compagnies_2
# Utiliser aeroports_2 en supprimant les duplicates

In [117]:
vols = pd.concat([vols_1, vols_2])
vols.head()

,IDENTIFIANT,VOL,CODE AVION,AEROPORT DEPART,AEROPORT ARRIVEE,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,TEMPS PROGRAMME,TEMPS PASSE,TEMPS DE VOL,DISTANCE,ATTERRISSAGE,TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE,ARRIVEE PROGRAMMEE,HEURE D'ARRIVEE,RETARD A L'ARRIVEE,DETOURNEMENT,ANNULATION,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,COMPAGNIE AERIENNE,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE
0,1259209,4661,a02782cd75,CEB,AAL,1707,1658.0,-9.0,20.0,1718.0,67.0,71.0,45.0,232,1803.0,6.0,1814,1809.0,-5.0,0,0,None,NaN,NaN,NaN,NaN,NaN,MAF,379,15/8/2018,10
1,4886177,5026,707f6ea54f,GOI,LTK,600,553.0,-7.0,11.0,604.0,130.0,119.0,91.0,738,835.0,17.0,910,852.0,-18.0,0,0,None,NaN,NaN,NaN,NaN,NaN,I6F,9,2/11/2016,10
2,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,NVPPA,2491,9/6/2017,10
3,937517,1320,a4b8db63f5,AGP,GOA,2301,2322.0,21.0,19.0,2341.0,65.0,89.0,59.0,214,40.0,11.0,6,51.0,45.0,0,0,None,24.0,0.0,0.0,6.0,15.0,NVPPA,1241,26/5/2018,10
4,2157498,508,34604053c0,BRU,BOD,612,603.0,-9.0,13.0,616.0,302.0,259.0,238.0,2288,1314.0,8.0,1414,1322.0,-52.0,0,0,None,NaN,NaN,NaN,NaN,NaN,THA,78,10/11/2018,10

In [108]:
compagnies = compagnies_2 # vols['COMPAGNIE AERIENNE'] == compagnies['CODE']
compagnies.head()

                    COMPAGNIE  CODE  NOMBRE D EMPLOYES  CHIFFRE D AFFAIRE
0           Try Hard Airlines   THA              12909         2310000000
1  Corporate Overlord Airways   COA             130595        40579000000
2          Neverland Airlines    NA              18567         7651000000
3    Always A Problem Flights  AAPF              92000        51000000000
4              Overpriced Air    OA              12200         6649000000

In [122]:
aeroports = aeroports_2  # aeroport['CODE IATA'] == aeroport['AEROPORT DEPART'] / aeroport['AEROPORT ARRIVEE]
aeroports.head()
aeroports

,CODE IATA,NOM,LIEU,PAYS,LONGITUDE,LATITUDE,HAUTEUR,PRIX RETARD PREMIERE 20 MINUTES,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES
0,MCT,Muscat International Airport,Muscat,OM,58.284400939941406,23.593299865722656,48.0,53,3
1,SOU,Southampton Airport,Southampton,GB,-1.3567999601364136,50.95029830932617,44.0,24,5
2,PNH,Phnom Penh International Airport,Phnom Penh,KH,104.84400177001953,11.546600341796875,40.0,33,3
3,BLR,Kempegowda International Airport,Bangalore,IN,77.706299,13.1979,3000.0,70,9
4,FFD,RAF Fairford,Fairford,GB,-1.7900300025900002,51.6822013855,286.0,65,3
...,...,...,...,...,...,...,...,...,...
317,PFO,Paphos International Airport,Paphos,CY,32.48569869995117,34.71799850463867,41.0,25,1
318,MLE,MalÃ© International Airport,MalÃ©,MV,73.52909851074219,4.191830158233643,6.0,83,5
319,XMN,Xiamen Gaoqi International Airport,Xiamen,CN,118.12799835205078,24.54400062561035,59.0,81,4
320,SUB,Juanda International Airport,Surabaya,ID,112.78700256347656,-7.3798298835754395,9.0,74,9
321,HND,Tokyo Haneda International Airport,Tokyo,JP,139.779999,35.552299,35.0,13,7

In [123]:
aeroports[aeroports['CODE IATA'] == 'JNB'] # Remove duplicates at 275 and 308
aeroports = aeroports.drop(index={275, 308}).reset_index(drop=True)

In [131]:
compagnies.columns

Index(['COMPAGNIE', 'CODE', 'NOMBRE D EMPLOYES', 'CHIFFRE D AFFAIRE'], dtype='object')

In [136]:
compagnies.rename(columns={'COMPAGNIE':'COMPAGNIE NAME', 
                           'CODE':'COMPAGNIE CODE',
                           'NOMBRE D EMPLOYES':'COMPAGNIE NOMBRE D EMPLOYES',
                           'CHIFFRE D AFFAIRE':'COMPAGNIE CHIFFRE D AFFAIRE'}, inplace=True)

complete_flights = pd.merge(vols, compagnies, how='left', left_on='COMPAGNIE AERIENNE', right_on='COMPAGNIE CODE')
complete_flights.drop(columns=['COMPAGNIE AERIENNE'], inplace=True)
complete_flights.head()

,IDENTIFIANT,VOL,CODE AVION,AEROPORT DEPART,AEROPORT ARRIVEE,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,TEMPS PROGRAMME,TEMPS PASSE,TEMPS DE VOL,DISTANCE,ATTERRISSAGE,TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE,ARRIVEE PROGRAMMEE,HEURE D'ARRIVEE,RETARD A L'ARRIVEE,DETOURNEMENT,ANNULATION,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE
0,1259209,4661,a02782cd75,CEB,AAL,1707,1658.0,-9.0,20.0,1718.0,67.0,71.0,45.0,232,1803.0,6.0,1814,1809.0,-5.0,0,0,None,NaN,NaN,NaN,NaN,NaN,379,15/8/2018,10,Morally Ambiguious Fligthts,MAF,15150,6391000000
1,4886177,5026,707f6ea54f,GOI,LTK,600,553.0,-7.0,11.0,604.0,130.0,119.0,91.0,738,835.0,17.0,910,852.0,-18.0,0,0,None,NaN,NaN,NaN,NaN,NaN,9,2/11/2016,10,IE 6.0 Flights,I6F,17569,2660000000
2,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000
3,937517,1320,a4b8db63f5,AGP,GOA,2301,2322.0,21.0,19.0,2341.0,65.0,89.0,59.0,214,40.0,11.0,6,51.0,45.0,0,0,None,24.0,0.0,0.0,6.0,15.0,1241,26/5/2018,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000
4,2157498,508,34604053c0,BRU,BOD,612,603.0,-9.0,13.0,616.0,302.0,259.0,238.0,2288,1314.0,8.0,1414,1322.0,-52.0,0,0,None,NaN,NaN,NaN,NaN,NaN,78,10/11/2018,10,Try Hard Airlines,THA,12909,2310000000

In [137]:
aeroports.columns

Index(['CODE IATA', 'NOM', 'LIEU', 'PAYS', 'LONGITUDE', 'LATITUDE', 'HAUTEUR',
       'PRIX RETARD PREMIERE 20 MINUTES',
       'PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES'],
      dtype='object')

In [ ]:
aeroports_depart = aeroports.copy()

In [139]:
aeroports_depart.columns = [str(col) + ' DEPART' for col in aeroports_depart.columns]

In [140]:
aeroports_depart.head()

,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART
0,MCT,Muscat International Airport,Muscat,OM,58.284400939941406,23.593299865722656,48.0,53,3
1,SOU,Southampton Airport,Southampton,GB,-1.3567999601364136,50.95029830932617,44.0,24,5
2,PNH,Phnom Penh International Airport,Phnom Penh,KH,104.84400177001953,11.546600341796875,40.0,33,3
3,BLR,Kempegowda International Airport,Bangalore,IN,77.706299,13.1979,3000.0,70,9
4,FFD,RAF Fairford,Fairford,GB,-1.7900300025900002,51.6822013855,286.0,65,3

In [141]:
complete_flights = pd.merge(complete_flights, aeroports_depart, how='left', left_on='AEROPORT DEPART', right_on='CODE IATA DEPART')
complete_flights.head()

,IDENTIFIANT,VOL,CODE AVION,AEROPORT DEPART,AEROPORT ARRIVEE,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,TEMPS PROGRAMME,TEMPS PASSE,TEMPS DE VOL,DISTANCE,ATTERRISSAGE,TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE,ARRIVEE PROGRAMMEE,HEURE D'ARRIVEE,RETARD A L'ARRIVEE,DETOURNEMENT,ANNULATION,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART
0,1259209,4661,a02782cd75,CEB,AAL,1707,1658.0,-9.0,20.0,1718.0,67.0,71.0,45.0,232,1803.0,6.0,1814,1809.0,-5.0,0,0,None,NaN,NaN,NaN,NaN,NaN,379,15/8/2018,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,123.97899627686,10.307499885559,31.0,38.0,9.0
1,4886177,5026,707f6ea54f,GOI,LTK,600,553.0,-7.0,11.0,604.0,130.0,119.0,91.0,738,835.0,17.0,910,852.0,-18.0,0,0,None,NaN,NaN,NaN,NaN,NaN,9,2/11/2016,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,73.8313980103,15.3808002472,150.0,95.0,6.0
2,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0
3,937517,1320,a4b8db63f5,AGP,GOA,2301,2322.0,21.0,19.0,2341.0,65.0,89.0,59.0,214,40.0,11.0,6,51.0,45.0,0,0,None,24.0,0.0,0.0,6.0,15.0,1241,26/5/2018,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,AGP,MÃ¡laga Airport,MÃ¡laga,ES,-4.499110221862793,36.67490005493164,53.0,56.0,9.0
4,2157498,508,34604053c0,BRU,BOD,612,603.0,-9.0,13.0,616.0,302.0,259.0,238.0,2288,1314.0,8.0,1414,1322.0,-52.0,0,0,None,NaN,NaN,NaN,NaN,NaN,78,10/11/2018,10,Try Hard Airlines,THA,12909,2310000000,BRU,Brussels Airport,Brussels,BE,4.48443984985,50.901401519800004,184.0,63.0,8.0

In [145]:
aeroports_arrivee = aeroports.copy()
aeroports_arrivee.columns = [str(col) + ' ARRIVEE' for col in aeroports_arrivee.columns]
aeroports_arrivee.head()

,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE
0,MCT,Muscat International Airport,Muscat,OM,58.284400939941406,23.593299865722656,48.0,53,3
1,SOU,Southampton Airport,Southampton,GB,-1.3567999601364136,50.95029830932617,44.0,24,5
2,PNH,Phnom Penh International Airport,Phnom Penh,KH,104.84400177001953,11.546600341796875,40.0,33,3
3,BLR,Kempegowda International Airport,Bangalore,IN,77.706299,13.1979,3000.0,70,9
4,FFD,RAF Fairford,Fairford,GB,-1.7900300025900002,51.6822013855,286.0,65,3

In [146]:
complete_flights = pd.merge(complete_flights, aeroports_arrivee, how='left', left_on='AEROPORT ARRIVEE', right_on='CODE IATA ARRIVEE')
complete_flights.head()

,IDENTIFIANT,VOL,CODE AVION,AEROPORT DEPART,AEROPORT ARRIVEE,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,TEMPS PROGRAMME,TEMPS PASSE,TEMPS DE VOL,DISTANCE,ATTERRISSAGE,TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE,ARRIVEE PROGRAMMEE,HEURE D'ARRIVEE,RETARD A L'ARRIVEE,DETOURNEMENT,ANNULATION,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE
0,1259209,4661,a02782cd75,CEB,AAL,1707,1658.0,-9.0,20.0,1718.0,67.0,71.0,45.0,232,1803.0,6.0,1814,1809.0,-5.0,0,0,None,NaN,NaN,NaN,NaN,NaN,379,15/8/2018,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,123.97899627686,10.307499885559,31.0,38.0,9.0,AAL,Aalborg Airport,Aalborg,DK,9.84924316406,57.0927589138,10.0,17.0,9.0
1,4886177,5026,707f6ea54f,GOI,LTK,600,553.0,-7.0,11.0,604.0,130.0,119.0,91.0,738,835.0,17.0,910,852.0,-18.0,0,0,None,NaN,NaN,NaN,NaN,NaN,9,2/11/2016,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,73.8313980103,15.3808002472,150.0,95.0,6.0,LTK,Bassel Al-Assad International Airport,Latakia,SY,35.948699951171875,35.401100158691406,157.0,90.0,7.0
2,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,14.0,2.0
3,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,O R Tambo International,Johannesburg,ZA,28.246,-26.1392,5558.0,30.0,3.0
4,183332,2021,b116987956,DSS,JNB,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,94.0,1.0

In [147]:
complete_flights.drop(columns=['AEROPORT DEPART', 'AEROPORT ARRIVEE'], inplace=True)
complete_flights.head()

,IDENTIFIANT,VOL,CODE AVION,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,TEMPS PROGRAMME,TEMPS PASSE,TEMPS DE VOL,DISTANCE,ATTERRISSAGE,TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE,ARRIVEE PROGRAMMEE,HEURE D'ARRIVEE,RETARD A L'ARRIVEE,DETOURNEMENT,ANNULATION,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE
0,1259209,4661,a02782cd75,1707,1658.0,-9.0,20.0,1718.0,67.0,71.0,45.0,232,1803.0,6.0,1814,1809.0,-5.0,0,0,None,NaN,NaN,NaN,NaN,NaN,379,15/8/2018,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,123.97899627686,10.307499885559,31.0,38.0,9.0,AAL,Aalborg Airport,Aalborg,DK,9.84924316406,57.0927589138,10.0,17.0,9.0
1,4886177,5026,707f6ea54f,600,553.0,-7.0,11.0,604.0,130.0,119.0,91.0,738,835.0,17.0,910,852.0,-18.0,0,0,None,NaN,NaN,NaN,NaN,NaN,9,2/11/2016,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,73.8313980103,15.3808002472,150.0,95.0,6.0,LTK,Bassel Al-Assad International Airport,Latakia,SY,35.948699951171875,35.401100158691406,157.0,90.0,7.0
2,183332,2021,b116987956,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,14.0,2.0
3,183332,2021,b116987956,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,O R Tambo International,Johannesburg,ZA,28.246,-26.1392,5558.0,30.0,3.0
4,183332,2021,b116987956,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,9/6/2017,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,94.0,1.0

In [149]:
fuel.reset_index(drop=True)

         DATE  PRIX DU BARIL
0    04/01/16        57.7800
1    05/01/16        56.3650
2    06/01/16        55.0700
3    07/01/16        53.6900
4    08/01/16        53.2300
..        ...            ...
745  24/12/18        64.1450
746  26/12/18        64.6475
747  27/12/18        65.5650
748  28/12/18        65.3525
749  31/12/18        65.4725

[750 rows x 2 columns]

In [183]:
fuel = fuel.set_index('DATE')
fuel

          PRIX DU BARIL
DATE
04/01/16        57.7800
05/01/16        56.3650
06/01/16        55.0700
07/01/16        53.6900
08/01/16        53.2300
...                 ...
24/12/18        64.1450
26/12/18        64.6475
27/12/18        65.5650
28/12/18        65.3525
31/12/18        65.4725

[750 rows x 1 columns]

In [184]:
fuel.index = pd.DatetimeIndex(fuel.index)
fuel

            PRIX DU BARIL
DATE
2016-04-01        57.7800
2016-05-01        56.3650
2016-06-01        55.0700
2016-07-01        53.6900
2016-08-01        53.2300
...                   ...
2018-12-24        64.1450
2018-12-26        64.6475
2018-12-27        65.5650
2018-12-28        65.3525
2018-12-31        65.4725

[750 rows x 1 columns]

In [185]:
new_index = pd.date_range('04/01/16', '31/12/18')
fuel = fuel.reindex(new_index, fill_value=np.nan)
fuel.fillna(method='ffill', inplace=True)
fuel.reset_index(inplace=True)
fuel.rename(columns={'index':'DATE'}, inplace=True)

In [186]:
fuel

           DATE  PRIX DU BARIL
0    2016-04-01        57.7800
1    2016-04-02        52.1750
2    2016-04-03        55.2900
3    2016-04-04        56.1650
4    2016-04-05        63.8150
...         ...            ...
1000 2018-12-27        65.5650
1001 2018-12-28        65.3525
1002 2018-12-29        65.3525
1003 2018-12-30        65.3525
1004 2018-12-31        65.4725

[1005 rows x 2 columns]

In [181]:
complete_flights['DATE'] = pd.to_datetime(complete_flights['DATE'], format='%d/%m/%Y')

In [189]:
complete_flights = pd.merge(complete_flights, fuel, how='left', left_on='DATE', right_on='DATE')
complete_flights.head()

,IDENTIFIANT,VOL,CODE AVION,DEPART PROGRAMME,HEURE DE DEPART,RETART DE DEPART,TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE,DECOLLAGE,TEMPS PROGRAMME,TEMPS PASSE,TEMPS DE VOL,DISTANCE,ATTERRISSAGE,TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE,ARRIVEE PROGRAMMEE,HEURE D'ARRIVEE,RETARD A L'ARRIVEE,DETOURNEMENT,ANNULATION,RAISON D'ANNULATION,RETARD SYSTEM,RETARD SECURITE,RETARD COMPAGNIE,RETARD AVION,RETARD METEO,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE,PRIX DU BARIL
0,1259209,4661,a02782cd75,1707,1658.0,-9.0,20.0,1718.0,67.0,71.0,45.0,232,1803.0,6.0,1814,1809.0,-5.0,0,0,None,NaN,NaN,NaN,NaN,NaN,379,2018-08-15,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,123.97899627686,10.307499885559,31.0,38.0,9.0,AAL,Aalborg Airport,Aalborg,DK,9.84924316406,57.0927589138,10.0,17.0,9.0,85.760
1,4886177,5026,707f6ea54f,600,553.0,-7.0,11.0,604.0,130.0,119.0,91.0,738,835.0,17.0,910,852.0,-18.0,0,0,None,NaN,NaN,NaN,NaN,NaN,9,2016-11-02,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,73.8313980103,15.3808002472,150.0,95.0,6.0,LTK,Bassel Al-Assad International Airport,Latakia,SY,35.948699951171875,35.401100158691406,157.0,90.0,7.0,46.740
2,183332,2021,b116987956,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,14.0,2.0,68.865
3,183332,2021,b116987956,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,O R Tambo International,Johannesburg,ZA,28.246,-26.1392,5558.0,30.0,3.0,68.865
4,183332,2021,b116987956,1749,1747.0,-2.0,9.0,1756.0,248.0,228.0,215.0,1671,1831.0,4.0,1857,1835.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,94.0,1.0,68.865

## Prepare features

In [193]:
LEAK_COLUMNS = ['HEURE DE DEPART', 'RETART DE DEPART', 'TEMPS DE DEPLACEMENT A TERRE AU DECOLLAGE', 
                'DECOLLAGE', 'TEMPS DE VOL', 'TEMPS PASSE', 'ATTERRISSAGE', "TEMPS DE DEPLACEMENT A TERRE A L'ATTERRISSAGE", 
                "HEURE D'ARRIVEE", "DETOURNEMENT",  "ANNULATION", "RAISON D'ANNULATION", "RETARD SYSTEM",
                'RETARD SECURITE', 'RETARD COMPAGNIE', 'RETARD AVION', 'RETARD METEO']
possible_leak_columns = 'DISTANCE'
target = "RETARD A L'ARRIVEE"

In [194]:
complete_flights_no_leak = complete_flights.drop(columns=LEAK_COLUMNS)
complete_flights_no_leak.head()

,IDENTIFIANT,VOL,CODE AVION,DEPART PROGRAMME,TEMPS PROGRAMME,DISTANCE,ARRIVEE PROGRAMMEE,RETARD A L'ARRIVEE,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE,PRIX DU BARIL
0,1259209,4661,a02782cd75,1707,67.0,232,1814,-5.0,379,2018-08-15,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,123.97899627686,10.307499885559,31.0,38.0,9.0,AAL,Aalborg Airport,Aalborg,DK,9.84924316406,57.0927589138,10.0,17.0,9.0,85.760
1,4886177,5026,707f6ea54f,600,130.0,738,910,-18.0,9,2016-11-02,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,73.8313980103,15.3808002472,150.0,95.0,6.0,LTK,Bassel Al-Assad International Airport,Latakia,SY,35.948699951171875,35.401100158691406,157.0,90.0,7.0,46.740
2,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,14.0,2.0,68.865
3,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,O R Tambo International,Johannesburg,ZA,28.246,-26.1392,5558.0,30.0,3.0,68.865
4,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,94.0,1.0,68.865

In [198]:
new_features = complete_flights_no_leak.copy()

In [199]:
new_features['JOUR'] = new_features['DATE'].map(lambda x: x.day)
new_features['MOIS'] = new_features['DATE'].map(lambda x: x.month)
new_features['ANNEE'] = new_features['DATE'].map(lambda x: x.year)

In [200]:
new_features.head()

,IDENTIFIANT,VOL,CODE AVION,DEPART PROGRAMME,TEMPS PROGRAMME,DISTANCE,ARRIVEE PROGRAMMEE,RETARD A L'ARRIVEE,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE,PRIX DU BARIL,JOUR,MOIS,ANNEE
0,1259209,4661,a02782cd75,1707,67.0,232,1814,-5.0,379,2018-08-15,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,123.97899627686,10.307499885559,31.0,38.0,9.0,AAL,Aalborg Airport,Aalborg,DK,9.84924316406,57.0927589138,10.0,17.0,9.0,85.760,15,8,2018
1,4886177,5026,707f6ea54f,600,130.0,738,910,-18.0,9,2016-11-02,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,73.8313980103,15.3808002472,150.0,95.0,6.0,LTK,Bassel Al-Assad International Airport,Latakia,SY,35.948699951171875,35.401100158691406,157.0,90.0,7.0,46.740,2,11,2016
2,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,14.0,2.0,68.865,9,6,2017
3,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,O R Tambo International,Johannesburg,ZA,28.246,-26.1392,5558.0,30.0,3.0,68.865,9,6,2017
4,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,-17.073333,14.67,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246,-26.1392,5558.0,94.0,1.0,68.865,9,6,2017

In [204]:
new_features['LONGITUDE DEPART'] = new_features['LONGITUDE ARRIVEE'].astype(float)
new_features['LATITUDE DEPART'] = new_features['LONGITUDE ARRIVEE'].astype(float)
new_features['LONGITUDE ARRIVEE'] = new_features['LONGITUDE ARRIVEE'].astype(float)
new_features['LATITUDE ARRIVEE'] = new_features['LONGITUDE ARRIVEE'].astype(float)

In [205]:
new_features.head()

,IDENTIFIANT,VOL,CODE AVION,DEPART PROGRAMME,TEMPS PROGRAMME,DISTANCE,ARRIVEE PROGRAMMEE,RETARD A L'ARRIVEE,NOMBRE DE PASSAGERS,DATE,NIVEAU DE SECURITE,COMPAGNIE NAME,COMPAGNIE CODE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,CODE IATA DEPART,NOM DEPART,LIEU DEPART,PAYS DEPART,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,PRIX RETARD PREMIERE 20 MINUTES DEPART,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART,CODE IATA ARRIVEE,NOM ARRIVEE,LIEU ARRIVEE,PAYS ARRIVEE,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX RETARD PREMIERE 20 MINUTES ARRIVEE,PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE,PRIX DU BARIL,JOUR,MOIS,ANNEE
0,1259209,4661,a02782cd75,1707,67.0,232,1814,-5.0,379,2018-08-15,10,Morally Ambiguious Fligthts,MAF,15150,6391000000,CEB,Mactan Cebu International Airport,Lapu-Lapu City,PH,9.849243,9.849243,31.0,38.0,9.0,AAL,Aalborg Airport,Aalborg,DK,9.849243,9.849243,10.0,17.0,9.0,85.760,15,8,2018
1,4886177,5026,707f6ea54f,600,130.0,738,910,-18.0,9,2016-11-02,10,IE 6.0 Flights,I6F,17569,2660000000,GOI,Dabolim Airport,Vasco da Gama,IN,35.948700,35.948700,150.0,95.0,6.0,LTK,Bassel Al-Assad International Airport,Latakia,SY,35.948700,35.948700,157.0,90.0,7.0,46.740,2,11,2016
2,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,28.246000,28.246000,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246000,28.246000,5558.0,14.0,2.0,68.865,9,6,2017
3,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,28.246000,28.246000,290.0,57.0,7.0,JNB,O R Tambo International,Johannesburg,ZA,28.246000,28.246000,5558.0,30.0,3.0,68.865,9,6,2017
4,183332,2021,b116987956,1749,248.0,1671,1857,-22.0,2491,2017-06-09,10,Ne Va Pas Partout Airlines,NVPPA,12000,6235000000,DSS,Blaise Diagne International Airport,Dakar,SN,28.246000,28.246000,290.0,57.0,7.0,JNB,OR Tambo International Airport,Johannesburg,ZA,28.246000,28.246000,5558.0,94.0,1.0,68.865,9,6,2017

In [249]:
new_features_wo_na = new_features.dropna()

In [250]:
X = new_features_wo_na.drop(columns=['PRIX RETARD PREMIERE 20 MINUTES ARRIVEE',
                               'PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES ARRIVEE',
                               'PRIX RETARD PREMIERE 20 MINUTES DEPART',
                               'PRIS RETARD POUR CHAQUE MINUTE APRES 10 MINUTES DEPART',
                               "RETARD A L'ARRIVEE",
                               'IDENTIFIANT'])

In [251]:
X = X.select_dtypes(include=[float, int])

In [252]:
X.head()

,VOL,DEPART PROGRAMME,TEMPS PROGRAMME,DISTANCE,ARRIVEE PROGRAMMEE,NOMBRE DE PASSAGERS,NIVEAU DE SECURITE,COMPAGNIE NOMBRE D EMPLOYES,COMPAGNIE CHIFFRE D AFFAIRE,LONGITUDE DEPART,LATITUDE DEPART,HAUTEUR DEPART,LONGITUDE ARRIVEE,LATITUDE ARRIVEE,HAUTEUR ARRIVEE,PRIX DU BARIL,JOUR,MOIS,ANNEE
0,4661,1707,67.0,232,1814,379,10,15150,6391000000,9.849243,9.849243,31.0,9.849243,9.849243,10.0,85.760,15,8,2018
1,5026,600,130.0,738,910,9,10,17569,2660000000,35.948700,35.948700,150.0,35.948700,35.948700,157.0,46.740,2,11,2016
2,2021,1749,248.0,1671,1857,2491,10,12000,6235000000,28.246000,28.246000,290.0,28.246000,28.246000,5558.0,68.865,9,6,2017
3,2021,1749,248.0,1671,1857,2491,10,12000,6235000000,28.246000,28.246000,290.0,28.246000,28.246000,5558.0,68.865,9,6,2017
4,2021,1749,248.0,1671,1857,2491,10,12000,6235000000,28.246000,28.246000,290.0,28.246000,28.246000,5558.0,68.865,9,6,2017

In [258]:
y = new_features_wo_na["RETARD A L'ARRIVEE"]
y = y.map(lambda x: 1 if x > 0  else 0)

In [264]:
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [260]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [272]:
model = RandomForestRegressor(n_jobs=-1, verbose=2)

In [ ]:
model.fit(X_train, y_train)

building tree 1 of 10building tree 2 of 10building tree 3 of 10building tree 4 of 10
building tree 5 of 10

building tree 6 of 10building tree 7 of 10building tree 8 of 10building tree 9 of 10building tree 10 of 10

In [271]:
accuracy_score(y_test, model.predict(X_test).round())

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    8.3s finished

0.70404594636889